// $background-color: #F8FCEE;
// $text-color: #333;
// $header-bg-color: #057159;
// $header-text-color: #F8FCEE;
// $signup-btn-color: #5ad4a1;
// $login-btn-color: #C8F7DB;
// $input-border-color: #ccc;
// $white: #ffffff;


$primary-color: #6a5bbe; // Deep indigo
$secondary-color: #4b4188; // Soft slate blue
$background-color: #d4cff3; // Dark navy
$text-color: #cecee1; // Soft white
$header-bg-color: $primary-color;
$header-text-color: $text-color;
$white: #ffffff;
$input-border-color: #ccc;


$login-btn-color: #d198fa; 
$signup-btn-color: #4b4188; // Soft slate blue